.bookPageContainer{
    display: grid;                         
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(8, 1fr);
    column-gap: 20px;                             

    max-width: 1200px;
    height: 100%;                    
    margin: 0 auto;    
}

.bodyBookDetail{
    margin-top: 5rem;

    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 3rem;

    height: 100%;

    grid-row: 2 / span 8;
    grid-column: 3 / span 12; 
}

.bookCover{
    max-height: 25rem;
    max-width: 20rem;

    border: 3px solid;
    border-color: white;
    
    box-shadow: 2px 2px 20px 2px black;
}

.bookInfo{
    min-width: 40%;
}

.bookTitle{
    color: white;
    margin: 0;

    margin: 0 0 0.3rem 0;
}

.bookAuthor{
    color: rgb(188, 188, 188);

    font-size: large;
    margin: 0 0 1rem 0;
}

.bookDescription{
    color: rgb(188, 188, 188);
    font-size: 1.3rem;

    padding-bottom: 3rem;

    text-align: justify;
    line-height: 1.55;
    overflow-wrap: break-word;
}