.borderRadius{
    border-radius: 5px;
}

#modalSearchContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.482);
    backdrop-filter: blur(5px);
    
    transition: opacity 0.3s ease-in-out; 
}

#modalSearchContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: auto;
    width: 50%;

    padding: 1rem;

    background: linear-gradient(to bottom, #2D2D2D, #232222);
}

#headerModalSearch{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

#messageModalSearch{
    margin: 0;
    font-weight: normal;
    color: white;
}

#exitModalSearch{
    font-size: larger;
    color: white;
    
    height: 2rem;

    background: none;
}

#bodyModalSearch{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#searchInput{
    width: 80%;
    height: 2rem;
}